:root {
    --dark: #091921;
    --light: #edf1f4;

    --white-900: #fff;
    --white-800: #f2f2f2;
    --gray-300: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: .5s;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 20px;
    background: var(--dark);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    position: relative;
    padding: 1em 3em;
    border: .2px solid aqua;
    border-radius: 10px;
    color: aqua;
}

h1:hover {
    color: rgb(16, 116, 116);
    background: aqua;
    box-shadow: 0 0 5px aqua,
        0 0 10px aqua,
        0 0 20px aqua;

}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
}

.card-container {
    position: relative;
    justify-content: center;
    width: 700px;
    height: 150px;
}

.card {
    position: relative;
    border: .1px solid aqua;
    border-radius: 5px;
    padding: 2em;
    transition: 1s;
    margin-bottom: 5em;
    justify-content: center;
    align-items: center;
}

.image {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 10;
    top: -20%;
    left: -10%;
}

.image img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

table {
    display: block;
    color: var(--light);
}

th {
    display: flex;
    align-items: flex-start;
    padding-right: 5em;
}

tr:not(:last-child) td {
    padding-bottom: 1em;
}